.authentication_page__container {
    padding: 5rem 0;
    max-width: 680px;
    margin: auto;

    .authentication__container {
        border: 1px solid var(--border-color);
        margin: 0 20px;
        border-radius: 16px;
        padding: 48px 70px;

        .page_header {
            font-size: 32px;
            padding-bottom: 48px;

            .page_sub_header {
                font-size: 16px;
            }
        }

        .authentication_input__container {
            width: 100%;
            margin-bottom: 48px;

            .field_input__container {
                margin-bottom: 1.5rem;

                .user_input {
                    color: var(--dark-bg-color);
                    background-color: var(--dark-text-color);
                    font-size: 14px;
                    padding: 0.3rem 1rem;
                    border-radius: 8px;
                    border: 2px solid transparent;

                    input,
                    input:-internal-autofill-selected,
                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus {
                        color: var(--dark-bg-color) !important;
                        -webkit-text-fill-color: var(--dark-bg-color);
                        background-color: var(--dark-text-color) !important;
                    }
                }

                .error {
                    color: var(--bs-danger);
                    margin-top: 0.5rem;
                    padding: 0 1rem;
                }
            }

            .submit_button__container {
                margin-bottom: 24px;
            }

            .forgot_password {
                text-align: center;
            }
        }

        .switch_link__container {
            a {
                font-weight: 500;
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .authentication_page__container {
        .authentication__container {
            padding: 48px 20px;
        }
    }
}
