body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.app__container {
    color: var(--text-color);
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app__container::-webkit-scrollbar {
    display: none;
}
