@import "./button.scss";
@import "./container.scss";
@import "./flex.scss";
@import "./margin.scss";
@import "./padding.scss";
@import "./text.scss";

ul,
li {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link:focus-visible {
    outline-offset: unset;
}

a:focus-visible {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
}

.w-100 {
    width: 100vw;
}
