@import "./button.scss";
@import "./container.scss";
@import "./flex.scss";
@import "./margin.scss";
@import "./padding.scss";
@import "./text.scss";

ul,
li {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link:focus-visible {
    outline-offset: unset;
}

a:focus-visible {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
}

.w-100 {
    width: 100vw;
}

input,
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: none;
    padding: 0;
    outline: none;
    font: inherit;
    font-size: 14px;
    line-height: 1.5;
    resize: vertical;
    appearance: none;
    background-clip: text;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--dark-bg-color) !important;
    color: var(--dark-text-color) !important;
    -webkit-text-fill-color: var(--dark-text-color);
}

input:focus-visible {
    outline: none;
}
